<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link 
            rel="stylesheet" 
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" 
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" 
            crossorigin="anonymous">
        <link 
            rel="stylesheet" 
            href="https://bootswatch.com/4/journal/bootstrap.min.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='logo.jpg') }}">
        <title>Book Hub</title>
    </head>
    <body style="background-color:black">
        <nav class="navbar navbar-dark" style="background: linear-gradient(30deg, transparent, blue);">
            <a href="/" class="navbar-brand">
            <h1 style="color: crimson;"> 
                <img src="{{ url_for('static', filename='logo.png') }}" height="75" width="100">Book Hub  
            </h1>
            </a>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mt-3 mb-2" style="font-size: 40px; color: gold;">Book-based Recommendation</h1>
                    <h6 class="text-white mb-3">Want to try <a href="/user_recommend" style="color: blue;">User-based Recommendation</a>?</h6>
                    <form action="/recommend_books" method="post">
                        <input list="books" name="user_input" type="text" class="form-control" value="{{ user_input }}"><br>
                        <datalist id="books">
                            {% for i in range(books|length) %}
                                <option value="{{ books[i] }}"></option>
                            {% endfor %}
                        </datalist>
                        <input type="submit" class="btn btn-lg btn-success">
                    </form>
                </div>
                {% if data %}
                    {% for i in data %}
                        <div class="col-md-3" style="margin-top:50px">
                            <div class="card">
                                <div class="card-body">
                                    <img class="card-img-top" src="{{i[2]}}">
                                    <p class="mt-2 mb-0 text-center" style="font-weight: bold;">{{i[0]}}</p>
                                    <p class="mb-0 text-center">{{i[1]}}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            {% if flag %}
                <h3 class="text-center" style="color: crimson">No Recommendations found!</h3>
            {% endif %}
        </div>
        <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"
        ></script>
        <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"
        ></script>
    </body>
</html>